.LoginPage_Form-icon {
    border: 20px solid white;
}

.LoginPage_Form-icon-content {
    padding-bottom: 50%;
    background-size: contain;
    background-position: center center;
}

.LoginPage_Form-title {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.LoginPage_Form-subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(0, 0%, 60%);
}
