.LoginPage_Main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: 100% 100%;
    background-color: var(--color_background);
    padding: 20px;
    overflow: auto;
}

.LoginPage_Main-content {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 280px;
    box-shadow: 0 10px 20px hsl(0, 0%, 0%, 0.2);
}
