.PeriodSelect_Main {
    position: sticky;
    top: 50px;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.PeriodSelect_Main.scroll {
    box-shadow: 0 10px 20px hsl(0, 0%, 0%, 0.1);
}

.PeriodSelect_Main-left {
    padding: 5px;
}

.PeriodSelect_Main-right {
    padding: 10px 5px;
    text-align: right;
}

@media (max-width: 500px) {
    .PeriodSelect_Main-right-separator {
        display: none;
    }
}
@media (not (max-width: 500px)) {
    .PeriodSelect_Main-right-time {
        display: inline;
    }
    .PeriodSelect_Main-right-separator {
        display: inline;
    }
}
