.Period_Chart {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.Period_Chart-title {
    font-weight: bold;
}

.Period_Chart-image {
    height: 180px;
    margin-top: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.Period_Chart-image-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid hsl(0, 0%, 0%, 0.1);
}

.Period_Chart-image-lines {
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    left: 1px;
}

.Period_Chart-image-lines-zero {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
}

.Period_Chart-image-line {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 15px;
    border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    padding-right: 2px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
}
.Period_Chart-image-line.first {
    border-color: transparent;
}

.Period_Chart-image-items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Period_Chart-image-item {
    position: absolute;
    bottom: 0;
}
