.Period_Item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.Period_Item-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
}

.Period_Item-item {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

@media (max-width: 600px) {
    .Period_Item-item {
        width: calc(100% / 1);
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .Period_Item-item {
        width: calc(100% / 2);
    }
    .Period_Item-item.processor {
        width: calc(100% / 1);
    }
}
@media (min-width: 901px) and (max-width: 1600px) {
    .Period_Item-item {
        width: calc(100% / 3);
    }
    .Period_Item-item.network,
    .Period_Item-item.io {
        width: calc(100% / 2);
    }
}
@media (min-width: 1601px) {
    .Period_Item-item {
        width: calc(100% / 5);
    }
}
