.Period_TwinChart {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.Period_TwinChart-title {
    font-weight: bold;
}

.Period_TwinChart-image {
    height: 180px;
    margin-top: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.Period_TwinChart-image-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid hsl(0, 0%, 0%, 0.1);
}

.Period_TwinChart-image-lines {
    position: absolute;
    top: 0;
    right: 1px;
    bottom: 0;
    left: 1px;
}

.Period_TwinChart-image-lines-zero {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    left: 0;
    border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
}

.Period_TwinChart-image-line {
    position: absolute;
    right: 0;
    left: 0;
    font-size: 12px;
    line-height: 15px;
    padding-right: 2px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
}
.Period_TwinChart-image-line.positive {
    border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    bottom: 50%;
}
.Period_TwinChart-image-line.negative {
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
    top: 50%;
    align-items: flex-end;
}
.Period_TwinChart-image-line.first {
    border-color: transparent;
}

.Period_TwinChart-image-items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Period_TwinChart-image-item {
    position: absolute;
}
.Period_TwinChart-image-item.positive {
    bottom: 50%;
}
.Period_TwinChart-image-item.negative {
    top: 50%;
}
