.Form_TextInput-input {
    border: 1px solid hsl(0, 0%, 75%);
    cursor: text;
    padding: 9px;
    width: 100%;
}
.Form_TextInput-input:focus {
    box-shadow: 0 0 0 2px hsl(30, 100%, 50%, 0.5);
}
