.Dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_transparent);
    z-index: 2;
    padding: 20px;
    overflow: auto;
}

.Dialog-content {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 10px 20px hsl(0, 0%, 0%, 0.2);
}
