* {
    --color_main: hsl(250, 50%, 50%);
    --color_main_hover: hsl(250, 50%, 60%);
    --color_main_active: hsl(250, 50%, 70%);
    --color_background: hsl(250, 50%, 95%);
    --color_transparent: hsl(250, 50%, 90%, 0.7);
    --color_top_hover: hsl(250, 50%, 65%);
    --color_top_active: hsl(250, 50%, 70%);
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    font: inherit;
    background: transparent no-repeat;
    color: inherit;
    text-align: inherit;
    box-sizing: border-box;
    cursor: default;
}

html, body {
    font: normal 15px/20px Arial, sans-serif;
    background: white;
    color: hsl(0, 0%, 40%);
    text-align: left;
    height: 100%;
    overflow: hidden;
}

b {
    font-weight: bold;
}

.Main {
    height: 100%;
    overflow: auto;
}
