.TopMenu {
    position: relative;
}

.TopMenu-button {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-size: 27px 27px;
    background-position: center center;
    cursor: pointer;
    position: relative;
}
.TopMenu-button:hover {
    background-color: var(--color_top_hover);
}
.TopMenu-button:active,
.TopMenu-button.active {
    background-color: var(--color_top_active);
}

.TopMenu-menu {
    position: absolute;
    top: 100%;
    right: -5px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 5px 10px hsl(0, 0%, 0%, 0.2);
    color: hsl(0, 0%, 40%);
    white-space: nowrap;
}
.TopMenu-menu.hidden {
    display: none;
}
